.{
Margin: 0;
Padding: 0;
Box-sizing: border-box;
}
Body {
Font-family: ‘Segoe UI’, sans-serif;

FACULTY OF ENGINEERING AND
TECHNOLOGY
Department of Computer Engineering
01CE1306 – Web Technology – Lab #5

Mann Samani ( 92400120572) 6
Background: #f4f4f4;
Color: #333;
}
.cv-wrapper {
Display: flex;
Max-width: 1200px;
Margin: 30px auto;
Background: white;
Box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.sidebar {
Width: 300px;
Background: #0e2c46;
Color: white;
Padding: 30px;
}
.sidebar .profile-pic {
Text-align: center;
Margin-bottom: 20px;
}
.sidebar .profile-pic img {
Width: 240px;
Height: 240px;
Border-radius: 50%;
Border: 4px solid rgb(7, 7, 7);
Object-fit: cover;
}
.sidebar h3 {
Font-size: 1rem;
Margin-bottom: 10px;
Border-bottom: 1px solid white;
Padding-bottom: 5px;
}
.sidebar p,
.sidebar li {

FACULTY OF ENGINEERING AND
TECHNOLOGY
Department of Computer Engineering
01CE1306 – Web Technology – Lab #5

Mann Samani ( 92400120572) 7
Font-size: 0.9rem;
Margin: 8px 0;
}
.sidebar ul {
List-style: none;
Padding-left: 0;
}
.main-content {
Flex: 1;
Padding: 40px;
}
Header h1 {
Font-size: 2rem;
Margin-bottom: 5px;
}
Header h1 span {
Font-weight: bold;
Color: #0e2c46;
}
Header .title {
Font-size: 1.1rem;
Color: #555;
Border-bottom: 3px solid #0e2c46;
Display: inline-block;
Padding-bottom: 4px;
Margin-bottom: 30px;
}
.section {
Margin-bottom: 30px;
}
.section h2 {
Font-size: 1.1rem;
Color: #0e2c46;
Border-bottom: 2px solid #0e2c46;

FACULTY OF ENGINEERING AND
TECHNOLOGY
Department of Computer Engineering
01CE1306 – Web Technology – Lab #5

Mann Samani ( 92400120572) 8
Padding-bottom: 5px;
Margin-bottom: 15px;
}
.job {
Margin-bottom: 20px;
}
.job h3 {
Display: flex;
Justify-content: space-between;
Font-size: 1rem;
Color: #0e2c46;
}
.job p {
Margin: 5px 0 10px;
Font-weight: bold;
}
.job ul {
Margin-left: 20px;
}
.references {
Display: flex;
Gap: 50px;
}
.ref {
Width: 45%;
Font-size: 0.9rem;
}
